.Home {
  width: 100%;
  height: auto;
}

/* nav */
.Home .nav-list {
  list-style: none;
  display: flex;
  align-items: stretch;
  margin-bottom: 0;
}
.Home .nav-item {
  display: flex;
  align-items: baseline;
}
.Home .nav-item.stretch {
  flex-grow: 1;
}
.Home .nav-item > * {
  padding: 1.25rem;
}
.Home .nav-item .sign-up-btn,
.Home .nav-item .log-in-btn,
.Home .nav-item .menu-icon {
  font-size: 1.25rem;
  color: #575757;
  border-bottom: 2px solid transparent;
}
.Home .nav-item .sign-up-btn:hover,
.Home .nav-item .log-in-btn:hover,
.Home .nav-item .menu-icon:hover  {
  color: #1f1f1f;
  background-color: #fafafa;
  border-bottom: 2px solid #e44232;
}
.Home .nav-item img {
  width: 25px;
  height: 25px;
}

/* intro-jumbotron */
.Home .intro-jumbotron {
  padding: 3.5em 0;
}
.Home .intro-jumbotron .title {
  font-size: 3.5rem;
  font-weight: 900;
  text-align: center;
  line-height: normal;
  padding: 0 2%;
}
.Home .intro-jumbotron .call-to-action {
  display: flex;
  justify-content: center;
  z-index: 1;
}
.Home .intro-jumbotron .get-started-btn {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  background: transparent;
  box-sizing: border-box;
  cursor: pointer;
  color: #fff;
  border-color: #e44232;
  background-color: #e44232;
  padding: 0.5rem 1.5rem;
  min-height: 2.75rem;
  border-radius: 0.625rem;
  font-size: 1.125rem;
  line-height: 1.25rem;
  font-weight: 600;
  font-family: Graphik Web, Helvetica Neue, Helvetica, Arial, sans-serif;
}
.Home .intro-jumbotron .get-started-btn:hover {
  background-color: #ee5244;
  border-color: #ee5244;
}
.Home .intro-jumbotron .jumbotron-cover {
  max-width: 1024px;
  margin: 0 auto;
}
.Home .intro-jumbotron .jumbotron-cover img {
  max-width: 100%;
  height: auto;
}
.Home .intro-jumbotron .background-stars {
  margin-top: -10%;
}
.Home .intro-jumbotron .todoer-dashboard {
  z-index: 2;
  margin-top: -50%;
}
.Home .intro-jumbotron .todoer-dashboard-mobile {
  z-index: 3;
  margin-top: -75%;
  margin-left: 50%;
  width: 30%;
}

/* free-mental-space */
.Home .free-mental-space {
  padding: 1em 1em 3em 1em;
}
.Home .free-mental-space .title {
  text-align: left;
  font-size: 2.5rem;
  margin-bottom: 1.25rem;
  color: #1f1f1f;
  line-height: 1;
  font-weight: 800;
} 
.Home .free-mental-space .description {
  font-size: 1.25rem;
  margin-bottom: 1.25rem;
} 
.Home .free-mental-space .browse-todoer-features a {
  color: #316FEA;
  padding: 0.25em 0;
  display: flex;
  align-items: center;
  font-size: 1.15rem;
  font-weight: 300;
} 
.Home .free-mental-space .browse-todoer-features .play-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.5em;
} 

/* achieve-peace */
.Home .achieve-peace {
  padding: 8em 1em 8em 1em;
  background-color: #fff9f3;
}
.Home .achieve-peace .title {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 2rem;
  color: #1f1f1f;
  line-height: 1;
  font-weight: 800;
} 
.Home .achieve-peace .call-to-action {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Home .achieve-peace .get-started-btn {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  background: transparent;
  box-sizing: border-box;
  cursor: pointer;
  color: #fff;
  border-color: #e44232;
  background-color: #e44232;
  padding: 0.5rem 1.5rem;
  min-height: 2.75rem;
  border-radius: 0.625rem;
  font-size: 1.125rem;
  line-height: 1.25rem;
  font-weight: 600;
  font-family: Graphik Web, Helvetica Neue, Helvetica, Arial, sans-serif;
}
.Home .achieve-peace .get-started-btn:hover {
  background-color: #ee5244;
  border-color: #ee5244;
}

/* footer */
.Home footer {
  background-color: rgba(0, 0, 0, 0.05);
  padding: 1.5em 1em;
  display: flex;
  justify-content: space-between;
}
.Home footer .logo-dark {
  color: black;
  margin-bottom: 1rem;
}
.Home footer p {
  font-size: 1rem;
  color: black;
  margin-bottom: 0.75rem;
}
.Home footer .social-list {
  list-style: none;
  display: flex;
  margin-bottom: 0;
}
.Home footer .social-item {
  margin-right: 1rem;
}
.Home footer .social-item svg {
  height: 1.5rem;
  width: 1.5rem;
  transition: opacity 150ms ease-in-out;
  fill: #000;
  opacity: 0.45;
}
.Home footer .social-item svg:hover {
  opacity: 0.9;
}
.Home footer .terms a:hover {
  text-decoration: underline;
}


@media screen and (min-width: 480px) {
  /* free-mental-space */
  .Home .free-mental-space {
    max-width: 940px;
    margin: 0 auto;
  }
  .Home .free-mental-space .title,
  .Home .free-mental-space .description {
    text-align: center;
  } 
  .Home .free-mental-space .browse-todoer-features a {
    justify-content: center;
  }
}

