.Login {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
  background: #fafafa;
}
.Login main {
  background: #ffffff;
  width: 100%;
  max-width: 450px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 5px;
  padding: 1em 1.5em;
}
.Login .logo {
  margin-bottom: 0.5rem;
}
.Login .header {
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 0.5em;
}
.Login .login-with-socials {
  list-style: none;
  margin: 0;
  padding: 0;
}
.Login .login-with-socials {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 0.5em;
}
.Login .login-with-socials button {
  width: 100%;
  padding: 0.40em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5em;
  border: 1px solid #ddd;
  border-radius: 3px;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}
.Login .login-with-socials button:hover,
.Login .login-with-socials button:focus,
.Login .login-with-socials button:active {
  background-color: #eee;
  border-color: black;
}
.Login .login-with-socials button .social-logo {
  width: 100%;
  max-width: 20px;
  height: auto;
  display: grid;
  place-items: center;
  margin-right: 0.5em;
}
.Login .login-with-socials button img {
  max-width: 100%;
  height: auto;
}
.Login .login-with-socials button span {
  font-size: 0.80rem;
}
.Login .divider {
  display: flex;
  align-items: center;
  opacity: 0.5;
}
.Login .divider .line {
  flex-grow: 1;
}
.Login .divider .content {
  padding: 1em;
}

.Login .login-email-password-form {
  width: 100%;
}
.Login .field {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5em;
}
.Login .field label {
  font-size: 0.75rem;
  font-weight: 600;
  margin-bottom: 0.25rem;
}
.Login .field input {
  font-size: 1rem;
  padding: 0.25em 0.5em;
  margin-bottom: 0.25rem;
  outline: none;
  border-radius: 5px;
  border: 1px solid lightgray;
  transition: 300ms all ease-in-out;
}
.Login .field input:focus,
.Login .field input:active {
  border-color: black;
}
.Login .log-in-btn {
  padding: 0.5em 0.5em;
  background: #db4c3f;
  color: #fff;
  font-size: 0.90rem;
  border-radius: 3px;
  display: block;
  width: 100%;
  font-weight: 600;
  margin-bottom: 0.5em;
}
.Login .keep-me-logged-in-block {
  display: flex;
  align-items: center;
  margin-top: 1em;
  margin-bottom: 1em;
}
.Login .keep-me-logged-in-block input {
  margin-right: 0.5rem;
}
.Login .forgot-password-btn:hover, 
.Login .sign-up-btn:hover {
  text-decoration: underline;
}

