* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: sans-serif;
}

button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
}
